{
    "ecmaFeatures": {},
    "parser": "espree",
    "env": {
        "browser": false,
        "node": true,
        "amd": false,
        "mocha": true,
        "jasmine": false
    },

    "rules": {
        "quotes": [1, "single"]
    }
}
